@page
@model MerakiWebsite_VisualStudio.Pages.HomeModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutEA";
}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="section-title text-secondary"><span></span> &#x2022; About Us &#x2022; <span></span></p>
                <h1 class="mb-5">Meraki Cipta Rasa</h1>
                <p class="mb-4">
                    We create flavors with all our heart. Processing various food products that we make from original recipes. 
                    Since 2005 until now, Meraki Cipta Rasa continues to grow and develop with our loyal clients who continue to grow every day. 
                    We provide food products that are processed from selected ingredients with a good manufacturing process to maintain quality and quality.
                </p>
                <a href="company.html" class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill mt-3 text-white">See More</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn rounded" data-wow-delay="0.5s" src="img/meraki estetik.jpg">
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Our Brand &#x2022; <span></span></p>
            <h1 class="text-center mb-5">Explore Our Products For an Enchanting Culinary Experience</h1>
        </div>
        <div class="row g-4 portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/wizz_sausage.png" alt="">
                        <a href="WizzSausage">
                            <div class="portfolio-overlay"></div>
                        </a>
                    </div>
                    <div class="bg-light p-4">
                        <h5 class="lh-base mb-0">Wizz Sausage</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/wizz_bite.png" alt="">
                        <a href="WizzBite">
                            <div class="portfolio-overlay"></div>
                        </a>
                    </div>
                    <div class="bg-light p-4">
                        <h5 class="lh-base mb-0">Wizz Bites</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/wizz_food.png" alt="">
                        <a href="WizzFood">
                            <div class="portfolio-overlay"></div>
                        </a>
                    </div>
                    <div class="bg-light p-4">
                        <h5 class="lh-base mb-0">Wizz Food</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/pondokcabe.png" alt="">
                        <a href="PondokCabe">
                            <div class="portfolio-overlay"></div>
                        </a>
                    </div>
                    <div class="bg-light p-4">
                        <h5 class="lh-base mb-0">Pondok Cabe</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Projects Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; News &#x2022; <span></span></p>
            <h1 class="text-center mb-5">See More About Our Journey and Recent Achievements here.</h1>
        </div>

        <div class="row g-4 portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/FOTO Bu Shanti IDN TIMES.jpg" alt="">
                        <a href="DetailBerita">
                            <div class="portfolio-overlay"></div>
                        </a>
                    </div>
                    <div class="bg-light p-4">
                        <h5 class="lh-base mb-0 justify-content-center">
                            Cireng Becomes Frozen Food. This South Tangerang MSME Earns Millions a Month
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/img/berita2.jpeg" alt="">
                        <a href="">
                            <div class="portfolio-overlay"></div>
                        </a>
                    </div>
                    <div class="bg-light p-4">
                        <h5 class="lh-base mb-0">
                            PT Meraki Cipta Rasa's Processed Products Penetrate the Export Market
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/img/berita3.jpeg" alt="">
                        <a href="">
                            <div class="portfolio-overlay"></div>
                        </a>
                    </div>
                    <div class="bg-light p-4">
                        <h5 class="lh-base mb-0">Sales Drop During Pandemic, This South Tangerang MSME Boost Through Digital</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/dummy news3.jpeg" alt="">
                        <a href="deks-merek-pondokcabe.html">
                            <div class="portfolio-overlay"></div>
                        </a>
                    </div>
                    <div class="bg-light p-4">
                        <h5 class="lh-base mb-0">Pondok Cabe</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py--0 px-lg-5">
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-12 mt-5 text-center">
                    <a href="Berita.html" class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill mt-3 text-white">Read More <i class='fas fa-arrow-right'></i></a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->
<!-- Partner Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
        <p class="section-title text-secondary justify-content-center"><span></span> &#x2022; Our Partners &#x2022; <span></span></p>
        <h1 class="text-center mb-5">Find Meraki Products at Your Favorite Store</h1>
        <img src="img/mitra meraki (1).png">
    </div>
</div>
<!-- Partner End -->
